.btn {
  border: none;
  color: #ebebeb;
  font-size: 24px;
  transition: all 0.3s;
  cursor: pointer;
}
.btn:active {
  filter: brightness(0.85);
}
.function {
  background-color: #646464;
}
.operator {
  background-color: #ff9f0a;
}
.number {
  background-color: #7d7d7d;
}
.zero {
  grid-column: span 2;
  background-color: #7d7d7d;
  border-end-start-radius: 20px;
}
.equals {
  background-color: #ff9f0a;
  border-end-end-radius: 20px;
}
