.calculator {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-transparent-grey);
  outline: 1px solid var(--color-black);
  width: 280px;
  height: 400px;
  background-color: var(--theme-default-background);
  box-shadow: var(--box-shadow);
}
