.display {
  display: flex;
  flex: 1;
}
.display__input {
  border-start-start-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-weight: 200;
  color: var(--theme-default-text);
  font-size: 50px;
  padding: 0 15px;
}
